#section1 {
	font-family: "proxima";

	.image-login {
		width: 80%;
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
	}

	.copyright {
		text-align: center;
		position: absolute;
		margin: auto;
		bottom: 20px;
		left: 0;
		right: 0;
		color: white;
		font-size: 0.8em;
	}
}

.login-body {
	.images-logo {
		height: 70px;

		img {
			width: 9em;
		}
	}

	.btn-login-method {
		border-radius: 10px 10px;
		border: 2px solid #a6afc8;
		font-family: "proxima";
		font-weight: bold;
		cursor: pointer;

		img {
			width: 25px;
		}
	}

	.hr-text {
		// line-height: 0.1em;
		position: relative;
		outline: 0;
		border: 0;
		color: black;
		text-align: center;
		height: 1.5em;
		opacity: 0.5;
		&:before {
			content: "";
			background: #a6afc8;
			position: absolute;
			left: 0;
			top: 50%;
			width: 100%;
			height: 2.5px;
		}
		&:after {
			content: attr(data-content);
			position: relative;
			display: inline-block;
			padding: 0 1em;
			line-height: 1.5em;
			color: #5b6591;
			font-weight: 500;
			font-size: 0.8em;
			background-color: #fcfcfa;
		}
	}

	.login-footer {
		position: absolute;
		margin: auto;
		bottom: 20px;
		left: 0;
		right: 0;
	}

	.copyright {
		display: block;
		font-size: 0.8em;
		text-align: center;
		color: black;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 992px) {
	#section1 {
		display: none !important;
	}

	.login-footer {
		position: static !important;
		padding-top: 40px;
		padding-bottom: 30px;
		font-size: 1em !important;

		span {
			margin-left: 2px !important;
			margin-right: 2px !important;
		}
	}

	.copyright {
		position: absolute;
		margin: 0;
		bottom: 0px;
		left: 0;
		right: 0;
	}
}

@media screen and (max-height: 740px) {
	.login-footer {
		position: static !important;
		padding-top: 40px;

		h6 {
			margin-left: 5px;
			margin-right: 5px;
		}
	}

	.copyright {
		position: relative;
		padding-bottom: 20px;
	}
}

@media screen and (min-height: 101vh) {
	.login-footer {
		position: static !important;
		padding-top: 40px !important;

		h6 {
			margin-left: 5px;
			margin-right: 5px;
		}
	}
}
