<div class="container-fluid body-full">
	<div class="row">
		<div
			id="section1"
			class="col-lg-8 set-bg position-relative"
			*ngIf="innerWidth >= 992"
		>
			<img class="image-login" src="assets/images/login-bg.png" alt="" />
			<p class="copyright">© Copyright 2023. All Right Reserved.</p>
		</div>
		<div
			id="section2"
			class="col-lg-4 login-body p-5 position-relative"
			style="height: 100vh; background-color: white"
			[ngClass]="{ 'p-5': innerWidth >= 1024, 'p-4': innerWidth < 1024 }"
		>
			<div class="d-flex flex-column justify-content-center mt-4">
				<div class="col-12 images-logo">
					<img src="assets/images/axdif-logo.jpeg" />
				</div>

				<div class="col-12 mb-2">
					<h3 class="proxima-bold mb-3">Login to your account</h3>
					<h6 class="font-weight-bold proxima">
						Hi, welcome back! Select method to login
					</h6>
				</div>

				<div class="row">
					<div class="col-lg-6 d-flex justify-content-between mt-3">
						<div
							class="btn-login-method w-100 p-2 d-flex justify-content-between"
						>
							<img src="assets/images/google.png" alt="" />
							<div>Google</div>
							<div class=""></div>
						</div>
					</div>
					<div class="col-lg-6 d-flex justify-content-between mt-3">
						<div
							class="btn-login-method w-100 p-2 d-flex justify-content-between"
						>
							<img src="assets/images/linkedin.png" alt="" />
							<span>Linked In</span>
							<div class=""></div>
						</div>
					</div>
				</div>

				<div class="col-12">
					<hr class="hr-text" data-content="Or Continue with email" />
				</div>

				<form action="" class="proxima">
					<div class="col-lg-12">
						<label class="font-weight-bold" for="">Email</label
						><br />
						<input
							class="w-100"
							name="companyName"
							type="email"
							pInputText
							[style]="inputTextStyle"
							placeholder="e.g John"
						/>
					</div>
					<div class="col-lg-12 mt-2">
						<label class="font-weight-bold" for="">Password</label
						><br />
						<p-password
							id="password1"
							type="password"
							class="w-full"
							[feedback]="false"
							placeholder="Insert Password"
							[style]="inputOutlineStyle"
							[inputStyle]="inputTextStyle"
							[toggleMask]="true"
						></p-password>
					</div>

					<div
						class="w-100 d-flex justify-content-between align-items-center mt-3 font-weight-bold"
					>
						<div class="row">
							<div
								class="col"
								style="
									max-width: 40px !important;
									min-width: 40px!;
								"
							>
								<p-checkbox
									name="confirmation1"
									value="confirm1"
									inputId="confirm1"
								></p-checkbox>
							</div>
							<div class="col p-0 text-grey">
								<label class="m-0" for="confirmation1"
									>Remember me</label
								>
							</div>
						</div>
						<span class="text-blue cursor-pointer"
							>Forgot Password?</span
						>
					</div>

					<p-button
						routerLink="/app"
						label="Login"
						styleClass="p-button-danger w-100 p-2 mt-4 proxima"
					></p-button>
				</form>
			</div>
			<div class="login-footer text-center font-weight-medium">
				<div class="w-100 text-grey">
					<span>Privacy Policy </span>
					<span> &#8226; </span>
					<span> Terms & Condition</span>
				</div>
			</div>

			<div
				class="copyright text-dark text-center font-weight-medium"
				*ngIf="innerWidth < 992"
			>
				<p class="m-0">© Copyright 2023. All Right Reserved.</p>
			</div>
		</div>
	</div>
</div>
