<div class="menu-bar p-3">
	<div class="row position-relative align-items-center">
		<div class="col images-logo">
			<img src="assets/images/x-logo.svg" alt="" />
		</div>
		<div class="col">
			<div class="header-nav">
				<ng-container *ngFor="let data of listMenu; let i = index">
					<div
						class="nav-items"
						(click)="setMenu(i)"
						*ngIf="data['active'] || navShow || !responsive"
						[ngClass]="{
								'nav-item-active': data['active'],
							}"
					>
						<span>{{ data["menuName"] }}</span>
						<span
							*ngIf="innerWidth <= 850 && !navShow"
							class="pi pi-caret-down"
							style="font-size: 12px; margin-left: 3px"
						></span>
					</div>
				</ng-container>
			</div>
		</div>
		<div class="col profile position-relative text-center">
			<img src="assets/images/pp1.png" alt="" />
		</div>
	</div>
</div>
