.menu-bar {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	width: 100%;
	border-bottom: 1px solid #a6afc8;
	font-family: "proxima";
	background-color: #fff;
	z-index: 3;

	.images-logo {
		max-width: 70px;
		border-right: 1px solid #a6afc8;
		text-align: center;

		img {
			margin: auto;
			width: 50px;
		}
	}

	.profile {
		min-width: 60px;
		max-width: 80px;
		cursor: pointer;

		img {
			width: 40px;
			margin: auto;
			right: 0;
			top: 0;
		}
	}

	.header-nav {
		position: relative;

		.nav-items {
			display: inline-block;
			margin-right: 5px;
			margin-left: 5px;
			padding: 10px;
			min-width: 70px;
			text-align: center;
			color: #888fb0;
			font-weight: bold;
			border-radius: 5px 5px;
			cursor: pointer;
		}

		.sublist-active {
			background-color: #e1f4fe !important;
			color: #0796e5 !important;
			cursor: pointer !important;
		}

		.nav-items:hover {
			background-color: #e1f4fe;
			color: #0796e5;
		}

		.nav-item-active {
			color: #000037;
			background-color: #f3f5fe;
			cursor: auto;
		}

		.nav-item-active:hover {
			color: #000037;
			background-color: #f3f5fe;
			cursor: auto;
		}
	}
}

.profile-nav {
	position: absolute;
	width: 350px;
	z-index: 2;
	top: 70px;
	right: 25px;
	border-radius: 8px 8px;
	background-color: white;
	box-shadow: 0px 1px 6px 1px rgba(136, 143, 176, 0.2);
	padding: 10px;

	.profile-nav-top {
		.nav-ava {
			width: 80px;
			height: 70px;
			text-align: center;
			padding-right: 10px;

			img {
				width: 70px;
			}
		}

		.nav-detail {
			p {
				margin: 0;
				margin-top: 3px;
				margin-bottom: 3px;
				font-size: 0.9em;
			}

			.capsule-level {
				padding: 3.5px;
				padding-left: 5px;
				padding-right: 5px;
				width: 90px;
				background-color: #b8dff4;
				color: #0796e5;
				border-radius: 15px 15px;
				font-size: 0.85em;
				text-align: center;
			}
		}
	}

	.divider {
		width: 15px;
	}

	.apperance {
		.apperance-text {
			p {
				font-size: 0.8em;
			}
		}
	}
}

.subnav {
	position: absolute;
	width: 100vw;
	height: auto;
	background-color: white;
	z-index: 2;
	box-shadow: 0px 5px 5px #eee;
	top: 85px;
	left: 0;

	.sub-nav-title {
		padding-top: 10px;
		padding-bottom: 10px;

		p {
			margin-top: 10px;
			margin-bottom: 10px;
			font-weight: bolder;
			font-size: 1.2em;
			color: #0796e5;
		}
	}

	.sublist {
		border-top: 1px solid #a6afc8;
	}

	.sublist-item {
		cursor: pointer;

		.item-title {
			.divider {
				width: 10px;
			}

			img {
				width: 30px;
			}
		}

		.item-desc {
			padding-top: 10px;
			width: 100%;
			font-size: 0.9em;
		}
	}

	.sublist-item:hover {
		background-color: #e1f4fe;
	}
}

@media screen and (max-width: 400px) {
	.profile-nav {
		width: 90%;
		z-index: 2;
		top: 70px;
		margin: auto;
		left: 0;
		right: 0;
	}
}

@media screen and (max-width: 850px) {
	.header-nav-shadow {
		box-shadow: 0px 1px 6px 1px rgba(136, 143, 176, 0.1);
	}

	.header-nav {
		position: absolute !important;
		background-color: white;
		width: 60%;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;

		.nav-items {
			top: 0;
			display: block !important;
		}

		.nav-items:hover {
			background-color: transparent;
			color: #888fb0;
		}
	}

	.nav-item-active {
		background-color: white !important;
	}
}
