/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

@font-face {
	font-family: "proxima";
	src: url("./assets/fonts/proxima-medium.otf");
}

@font-face {
	font-family: "proxima-bold";
	src: url("./assets/fonts/proxima-bold.otf");
}

@font-face {
	font-family: "aristotelica";
	src: url("./assets/fonts/aristotelica.ttf");
}

.proxima {
	font-family: "proxima" !important;
}

.proxima-bold {
	font-family: "proxima-bold" !important;
}

.aristotelica {
	font-family: "aristotelica" !important;
}

.text-grey {
	color: #8994b3 !important;
}

.text-blue {
	color: #66a5dd;
}

.font-weight-bold {
	font-weight: bold !important;
}

.font-weight-medium {
	font-weight: 500 !important;
}

.cursor-pointer {
	cursor: pointer;
}

label {
	margin-top: 10px;
	margin-bottom: 5px;
}

.set-bg {
	background-image: url("./assets/images/bg.svg");
	background-size: cover;
	background-color: rgba(7, 150, 229, 1);
}
