/* You can add global styles to this file, and also import other style files */
@font-face {
	font-family: "proxima";
	src: url("./assets/fonts/proxima-medium.otf");
}

@font-face {
	font-family: "proxima-bold";
	src: url("./assets/fonts/proxima-bold.otf");
}

@font-face {
	font-family: "aristotelica";
	src: url("./assets/fonts/aristotelica.ttf");
}

.proxima-bold {
	font-family: "proxima-bold" !important;
}

.aristotelica {
	font-family: "aristotelica" !important;
}

.text-grey {
	color: #8994b3 !important;
}

@media only screen and (max-width: 992px) {
	body {
		background-color: #0796e5 !important;
	}
}
