.overview-description,
.attendance {
	background-color: white;
	border: 1px solid #e5e5e5;
	border-radius: 5px 5px;

	.periode {
		min-width: 230px;
		height: 60px;

		span {
			color: #252525;
		}
	}

	.line {
		border: 1px solid #a6afc8;
		border-bottom: none;
	}

	.body-detail {
		.detail-item {
			border: 1px solid #e5e5e5;
			padding: 10px;
			border-radius: 6px 6px;

			p {
				font-size: 0.8em;
				color: #89959b;
				font-weight: 600;
				margin-bottom: 7px;
			}
		}
	}
}

.overview-task {
	margin-top: 10px;

	.see-all-text {
		font-size: 0.9em;
		font-weight: bold;
		color: #0796e5;
	}

	.text2 {
		font-size: 0.9em;
	}

	.task1 {
		min-width: 150px;
		min-height: 20px;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-right: 20px;
		border-right: 1px solid #e5e5e5;

		.comment {
			width: 50%;
			font-size: 1em;
			color: #8994b3;

			.divider {
				width: 10px;
			}

			i,
			p {
				margin: 0;
			}
		}
	}

	.task2 {
		padding-left: 2em;
		font-size: 0.9em;

		.level {
			padding: 8px;
			padding-left: 12px;
			padding-right: 12px;
			background-color: #e1f4ec;
			color: #0ca364;
			font-size: 0.9em;
			border-radius: 15px 15px;
		}

		.date {
			padding-left: 30px;
			font-weight: bold;
			font-size: 0.9em;
			color: #89959b;

			.date-format {
				min-width: 50px;
				padding-left: 10px;
			}
		}
	}
}

.profile {
	min-height: 65%;
	border-radius: 5px 5px;

	.profile-ava {
		width: 80px;
		height: 80px;
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		text-align: center;

		img {
			width: 80px;
		}
	}

	.profile-banner {
		height: 240px;
		position: relative;

		.profile-bg,
		.profile-bg2 {
			width: 100%;
			height: 50%;
		}

		.profile-bg {
			background-image: url("./../../../assets/images/banner-profile.png");
			background-size: cover;
		}

		.profile-bg2 {
			background-color: white;
		}
	}

	.profile-desc {
		width: 95%;
		text-align: center;
		position: absolute;
		bottom: 5px;
		left: 0;
		right: 0;
		margin: auto;

		#office {
			font-size: 0.8em;
		}

		.divider {
			width: 5px;
		}

		hr {
			margin-top: 15px;
			margin-bottom: 0px;
		}
	}

	.profile-detail {
		height: auto;
		padding: 2.5%;
		background-color: white;
		border-bottom-left-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;

		.detail-item {
			font-weight: 600;
			margin-bottom: 10px;
			font-size: 0.9em;
		}
	}
}

.attendance-outline {
	height: 35%;
	padding-top: 10px;

	.attendance {
		height: 100%;
		position: relative;

		.clock-in {
			border-top: 6px solid #09a262;
		}

		.clock-out {
			border-top: 6px solid #ff2442;
		}
	}
}

@media screen and (max-width: 580px) {
	.periode {
		min-width: 0px !important;
	}
}

@media screen and (max-width: 1190px) {
	.task1 {
		min-width: 100px !important;
		padding-right: 5px !important;
	}

	.task2 {
		padding-left: 7px !important;

		.date {
			padding-left: 10px !important;
			flex-wrap: nowrap;
		}
	}
}

@media screen and (max-width: 992px) {
	.task-top {
		padding: 0px !important;
	}

	.task-bottom {
		margin-top: 5px;
		font-size: 0.85em !important;
		padding: 0px !important;

		.task1 {
			border: none !important;
		}

		.task2 {
			padding-left: 0px !important;

			.level {
				padding: 4px !important;
				padding-right: 8px !important;
				padding-left: 8px !important;
			}
		}
	}

	#section1 {
		padding-bottom: 0px !important;
	}

	#section2 {
		padding-top: 0px !important;

		#taskDueSoon {
			margin-top: 0px !important;
		}
	}

	.attendance-outline {
		height: auto;
		margin-bottom: 10px;
	}

	.profile {
		min-height: auto !important;
		margin-bottom: 10px;
	}
}

:host::ng-deep .p-button.p-button-icon-only {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	background-color: white;
	color: #0796e5;
	border: 1px solid #d8d8d8;
	border-left: 0;
}

:host::ng-deep .p-inputtext {
	outline: none !important;
	border: 1px solid #d8d8d8 !important;
	box-shadow: none !important;
	border-right: none !important;
}
